Repository riipandi/tauri-start-solid: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

.lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

assert_lefthook_installed: true
skip_lfs: true

output:
  - success        # Print successful steps
  - failure        # Print failed steps printing
  - execution      # Print any execution logs
  - execution_out  # Print execution output
  # - meta           # Print lefthook version
  # - summary        # Print summary block (successful and failed steps)
  # - empty_summary  # Print summary heading when there are no steps to run
  # - execution_info # Print `EXECUTE > ...` logging
  - skips          # Print "skip" (i.e. no files matched)

pre-commit:
  parallel: true
  commands:
    format-frontend:
      tags: frontend
      glob: "*.{js,ts,html,css,json}"
      run: biome format . --write
    check-frontend:
      tags: frontend
      glob: "*.{js,ts,html,css,json}"
      run: biome check . --write
    lint-frontend:
      tags: frontend
      glob: "*.{js,ts,html,css,json}"
      run: biome lint . --write
    test-frontend:
      tags: frontend
      glob: "*.{js,ts,html,css}"
      run: pnpm --silent test:js
    check-backend:
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo check
    format-backend:
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo fmt
    test-backend:
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo test
    # check-links:
    #   glob: '*.md'
    #   run: lychee --max-concurrency 3 {all_files}
    #   exclude: [CHANGELOG.md, CONTRIBUTING.md]

pre-push:
  commands:
    build-frontend:
      run: pnpm --silent build:ui

chore: reconfigure lefthook
  package.json
Due: format-frontend, check-frontend, lint-frontend

chore: configure local vscode settings
  .vscode/extensions.json
  .vscode/settings.json
  src/components/loaders/screen-loader.tsx
  src/layouts/root-layout.tsx
Due: format-frontend, check-frontend, lint-frontend

chore: various code cleanup
  package.json
  pnpm-lock.yaml
  src-tauri/tauri.conf.json
  src/components/base-ui/carousel/carousel.tsx
  src/components/base-ui/index.ts
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

chore: bump rust dependencies
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/cmd/example.rs
  src-tauri/src/cmd/mod.rs
  src-tauri/src/lib.rs
  src/components/base-ui/link/link.tsx
  src/context/stores/ui.store.ts
  vite.config.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat: tray app menu
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/tray.rs
Due: check-backend, format-backend, test-backend

feat: customize UI layout and titlebar
  index.html
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/components/loaders/app-loader.tsx
  src/components/titlebar/titlebar.tsx
  src/layouts/root-layout.tsx
  src/styles/global.css
  src/views/home.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat: use custom window from Rust
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/tray.rs
  src-tauri/src/window.rs
  src-tauri/tauri.conf.json
  src/components/base-ui/badge/badge.tsx
  src/components/base-ui/button/button.tsx
  src/components/base-ui/checkbox/checkbox.tsx
  src/components/base-ui/radio-group/radio-group.tsx
  src/components/base-ui/tabs/tabs.tsx
  src/components/theme/switcher.tsx
  src/components/titlebar/titlebar.tsx
  src/styles/global.css
  src/styles/scrollbar.css
  src/views/home.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat: revamped tray app menu
  src-tauri/src/tray.rs
  src-tauri/src/tray/handler.rs
  src-tauri/src/tray/menu.rs
  src-tauri/src/tray/mod.rs
Due: check-backend, format-backend, test-backend

feat: custom app menu
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
Due: format-frontend, check-frontend, lint-frontend, check-backend, format-backend, test-backend

feat: revamped custom app menu
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/menu/builder.rs
  src-tauri/src/menu/handler.rs
  src-tauri/src/menu/mod.rs
  src/layouts/root-layout.tsx
Due: check-backend, format-backend, test-backend

feat: app config with local KV stores
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/config/mod.rs
  src-tauri/src/config/types.rs
  src-tauri/src/lib.rs
  src-tauri/src/store.rs
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, check-backend, format-backend, test-backend

feat: more action command for app menu
  src-tauri/Cargo.toml
  src-tauri/src/config/mod.rs
  src-tauri/src/config/script.rs
  src-tauri/src/lib.rs
  src-tauri/src/menu/builder.rs
  src-tauri/src/menu/handler.rs
  src-tauri/src/tray/handler.rs
  src-tauri/src/utils.rs
  src-tauri/src/window.rs
  src/stores/ui.store.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

chore: configure app bundle
  src-tauri/Cargo.toml
  vite.config.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

chore: update pp icons
  package.json
  src-tauri/icons/64x64.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, check-backend, format-backend, test-backend

feat: application updater
  .env.example
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/capabilities/desktop.json
  src-tauri/src/lib.rs
  src-tauri/src/menu/handler.rs
  src-tauri/src/tray/handler.rs
  src-tauri/src/utils.rs
  src-tauri/tauri.conf.json
  src/components/loaders/app-loader.tsx
  src/context/hooks/use-updater.ts
  src/layouts/root-layout.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat: sync window theme with config store
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/config/mod.rs
  src-tauri/src/config/types.rs
  src-tauri/src/lib.rs
  src-tauri/src/theme/linux.rs
  src-tauri/src/theme/macos.rs
  src-tauri/src/theme/mod.rs
  src-tauri/src/theme/windows.rs
  src/components/theme/switcher.tsx
  src/layouts/root-layout.tsx
Due: format-frontend, check-frontend, lint-frontend, check-backend, format-backend, test-backend

fix: theme function for linux use cooperative scheduling
  src-tauri/src/theme/linux.rs
Due: check-backend, format-backend, test-backend

fix: sync theme state on frontend
  src/components/theme/provider.tsx
  src/components/theme/switcher.tsx
  src/context/hooks/use-theme.ts
  src/context/stores/ui.store.ts
  src/layouts/root-layout.tsx
  src/stores/ui.store.ts
  src/views/home.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: typesafe Tauri command with specta
  .gitignore
  biome.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/cmd/example.rs
  src-tauri/src/config/types.rs
  src-tauri/src/lib.rs
  src-tauri/src/theme/linux.rs
  src-tauri/src/theme/macos.rs
  src-tauri/src/theme/mod.rs
  src-tauri/src/theme/windows.rs
  src-tauri/src/utils.rs
  src/components/theme/provider.tsx
  src/views/home.tsx
Due: format-frontend, check-frontend, lint-frontend, check-backend, format-backend, test-backend

feat: revamped theme selector
  src/components/theme/provider.tsx
  src/components/theme/switcher.tsx
  src/views/home.tsx
Due: none

feat: frontend tests with Vitest
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/theme/switcher.tsx
  tests/components/button.test.tsx
  tests/setup-client.ts
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: Storybook implementation
  .storybook/components/decorators.tsx
  .storybook/components/link.tsx
  .storybook/main.ts
  .storybook/manager-head.html
  .storybook/preview-head.html
  .storybook/preview.tsx
  .storybook/themes.ts
  package.json
  pnpm-lock.yaml
  src/components/base-ui/button/button.mdx
  src/components/base-ui/button/button.stories.tsx
  src/components/base-ui/button/button.tsx
  tsconfig.app.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend

chore: code cleanup
  .github/setup-sdk/action.yml
  .github/workflows/test.yml.example
  .gitignore
  .storybook/_docs/getting-started.mdx
  .storybook/main.ts
  .storybook/manager-head.html
  .storybook/preview-head.html
  .storybook/themes.ts
  README.md
  assets/images/app-banner.svg
  assets/images/app-icon.png
  assets/images/background.svg
  assets/images/screenshot-dark.jpeg
  assets/images/screenshot-light.jpeg
  assets/images/solid.svg
  assets/images/tauri.svg
  assets/images/typescript.svg
  assets/images/vite.svg
  degit.json
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/main.tsx
  src/routes.tsx
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

chore: code cleanup
  pnpm-lock.yaml
Due: none

feat: application logging
  README.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/config/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/theme/linux.rs
  src-tauri/src/utils.rs
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, check-backend, format-backend, test-backend

feat: application notification
  README.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src/views/home.tsx
Due: format-frontend, check-frontend, lint-frontend, check-backend, format-backend, test-backend

chore: update README.md
  README.md
Due: none

refactor: replace Kobalte with ArkUI
  package.json
  pnpm-lock.yaml
  src/components/base-ui/button/button.css.ts
  src/components/base-ui/button/button.stories.tsx
  src/components/base-ui/button/button.tsx
  src/components/base-ui/button/index.ts
  src/components/base-ui/card/index.ts
  src/components/base-ui/index.ts
  src/components/base-ui/link/index.ts
  src/components/base-ui/textfield/textfield.css.ts
  src/components/base-ui/textfield/textfield.tsx
  src/components/theme/switcher.tsx
  src/styles/global.css
  src/views/404.tsx
  src/views/home.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: initialize settings window
  README.md
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/src/window.rs
  src/layouts/app-layout.tsx
  src/layouts/root-layout.tsx
  src/layouts/settings-layout.tsx
  src/main.tsx
  src/views/home.tsx
  src/views/settings.tsx
Due: format-frontend, check-frontend, lint-frontend, check-backend, format-backend, test-backend

chore: change tauri-start-solid scheme to tauri-app
  src-tauri/Info.plist
Due: none

chore: upgrade Storybook
  .storybook/_docs/introduction.mdx
  .storybook/main.ts
  .storybook/manager.tsx
  .storybook/preview.tsx
  .storybook/themes.ts
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
  src/components/base-ui/button/button.mdx
  src/components/base-ui/button/button.stories.tsx
  src/views/home.tsx
  src/views/settings.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

refactor: reorganize code structure
  .gitignore
  .storybook/main.ts
  .storybook/preview.tsx
  biome.json
  index.html
  package.json
  src-app/components/base-ui/button/button.css.ts
  src-app/components/base-ui/button/button.mdx
  src-app/components/base-ui/button/button.stories.tsx
  src-app/components/base-ui/button/button.tsx
  src-app/components/base-ui/button/index.ts
  src-app/components/base-ui/card/card.tsx
  src-app/components/base-ui/card/index.ts
  src-app/components/base-ui/index.ts
  src-app/components/base-ui/link/index.ts
  src-app/components/base-ui/link/link.tsx
  src-app/components/loaders/app-loader.tsx
  src-app/components/theme/provider.tsx
  src-app/components/theme/switcher.tsx
  src-app/components/titlebar/titlebar.tsx
  src-app/context/hooks/use-theme.ts
  src-app/context/hooks/use-updater.ts
  src-app/context/stores/ui.store.ts
  src-app/layouts/app-layout.tsx
  src-app/layouts/root-layout.tsx
  src-app/layouts/settings-layout.tsx
  src-app/libs/utils.ts
  src-app/main.tsx
  src-app/styles/colors.css
  src-app/styles/global.css
  src-app/styles/scrollbar.css
  src-app/views/404.tsx
  src-app/views/home.tsx
  src-app/views/settings.tsx
  src-app/vite-env.d.ts
  src-tauri/src/lib.rs
  tsconfig.app.json
  tsconfig.build.json
  tsconfig.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

overhaul styling
  package.json
  pnpm-lock.yaml
  src-app/components/button.tsx
  src-app/routes/(primary)/index.tsx
  src-app/routes/(settings)/settings.index.tsx
  src-app/routes/-errors.tsx
  src-app/styles/components/button.css.ts
  src-app/styles/global.css.ts
  src-app/styles/screens/error.css.ts
  src-app/styles/screens/index.css.ts
  src-app/styles/screens/settings.css.ts
  src-app/styles/sprinkles.css.ts
  src-app/styles/utils.css.ts
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

overhaul Tauri configuration
  .env.example
  .oxfmtrc.json
  .vscode/extensions.json
  .vscode/settings.json
  degit.json
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/Info.plist
  src-tauri/build.rs
  src-tauri/capabilities/default.json
  src-tauri/capabilities/desktop.json
  src-tauri/rustfmt.toml
  src-tauri/src/commands/demo.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/core/logger.rs
  src-tauri/src/core/menu/mod.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/core/settings/mod.rs
  src-tauri/src/core/updater/mod.rs
  src-tauri/src/core/window.rs
  src-tauri/src/database/kvstore/mod.rs
  src-tauri/src/database/mod.rs
  src-tauri/src/hooks.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/utils/mod.rs
  src-tauri/tauri.conf.json.example
Due: format-frontend, check-frontend, lint-frontend, check-backend, format-backend, test-backend

various fixes and improvement
  .env.example
  .github/workflows/release.yml.example
  package.json
  pnpm-lock.yaml
  src-tauri/tauri.conf.json.example
Due: format-frontend, check-frontend, lint-frontend
