Repository riipandi/tauri-start-solid: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

.lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

assert_lefthook_installed: true
skip_lfs: true

output:
  - success        # Print successful steps
  - failure        # Print failed steps printing
  - execution      # Print any execution logs
  - execution_out  # Print execution output
  # - meta           # Print lefthook version
  # - summary        # Print summary block (successful and failed steps)
  # - empty_summary  # Print summary heading when there are no steps to run
  # - execution_info # Print `EXECUTE > ...` logging
  - skips          # Print "skip" (i.e. no files matched)

pre-commit:
  parallel: true
  commands:
    format-frontend:
      tags: frontend
      glob: "*.{js,ts,html,css,json}"
      run: biome format . --write
    check-frontend:
      tags: frontend
      glob: "*.{js,ts,html,css,json}"
      run: biome check . --write
    lint-frontend:
      tags: frontend
      glob: "*.{js,ts,html,css,json}"
      run: biome lint . --write
    test-frontend:
      tags: frontend
      glob: "*.{js,ts,html,css}"
      run: pnpm --silent test:js
    check-backend:
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo check
    format-backend:
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo fmt
    test-backend:
      root: "src-tauri/"
      glob: "*.{rs,toml,json}"
      run: cargo test
    # check-links:
    #   glob: '*.md'
    #   run: lychee --max-concurrency 3 {all_files}
    #   exclude: [CHANGELOG.md, CONTRIBUTING.md]

pre-push:
  commands:
    build-frontend:
      run: pnpm --silent build:ui

various fixes and improvement
  LICENSE-MIT
  src-tauri/src/core/logger.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/core/window.rs
  src-tauri/src/database/kvstore/connection.rs
  src-tauri/src/database/kvstore/mod.rs
  src-tauri/src/database/kvstore/models.rs
  src-tauri/src/database/kvstore/operations.rs
  src-tauri/src/hooks.rs
  src-tauri/src/lib.rs
  src-tauri/src/state.rs
  src-tauri/src/utils/mod.rs
  src-tauri/src/utils/time.rs
Due: check-backend, format-backend, test-backend

various fixes and improvement
  src-tauri/src/core/window.rs
  src-tauri/src/hooks.rs
Due: check-backend, format-backend, test-backend

various fixes and improvement
  src-tauri/src/lib.rs
Due: check-backend, format-backend, test-backend

feat: add settings with persistance storage
  package.json
  pnpm-lock.yaml
  src-app/components/settings-provider.tsx
  src-app/hooks/use-theme-attributes.ts
  src-app/routes/(settings)/settings.index.tsx
  src-app/routes/__root.tsx
  src-app/services/settings.service.ts
  src-app/stores/settings.ts
  src-app/styles/screens/settings.css.ts
  src-app/types/settings.ts
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/core/settings/mod.rs
  src-tauri/src/database/kvstore/connection.rs
  src-tauri/src/hooks.rs
  src-tauri/src/lib.rs
  src-tauri/src/utils/time.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat(settings): simplify UI settings management
  src-app/components/settings-provider.tsx
  src-app/routes/(settings)/settings.index.tsx
  src-app/routes/__root.tsx
  src-app/stores/settings.ts
  src-app/types/settings.ts
  src-tauri/src/core/menu/mod.rs
  src-tauri/src/core/settings/mod.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

various fixes and improvement
  index.html
  src-tauri/src/commands/settings.rs
  src-tauri/src/core/logger.rs
  src-tauri/src/core/window.rs
  src-tauri/src/database/kvstore/connection.rs
  src-tauri/src/database/kvstore/models.rs
  src-tauri/src/database/kvstore/operations.rs
  src-tauri/src/hooks.rs
  src-tauri/src/state.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat: add settings window
  src-app/routes/(primary)/index.tsx
  src-app/services/settings.service.ts
  src-tauri/src/commands/settings.rs
  src-tauri/src/core/window.rs
  src-tauri/src/lib.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat: add custom application menu
  src-app/routes/(primary)/index.tsx
  src-tauri/src/core/menu/builder/common.rs
  src-tauri/src/core/menu/builder/macos.rs
  src-tauri/src/core/menu/builder/manager.rs
  src-tauri/src/core/menu/builder/mod.rs
  src-tauri/src/core/menu/handler/menu_app.rs
  src-tauri/src/core/menu/handler/menu_file.rs
  src-tauri/src/core/menu/handler/menu_help.rs
  src-tauri/src/core/menu/handler/menu_view.rs
  src-tauri/src/core/menu/handler/menu_window.rs
  src-tauri/src/core/menu/handler/mod.rs
  src-tauri/src/core/menu/mod.rs
  src-tauri/src/core/menu/types.rs
  src-tauri/src/hooks.rs
Due: check-backend, format-backend, test-backend

feat: add custom titlebar
  src-app/components/title-bar.tsx
  src-app/hooks/use-title-bar.ts
  src-app/routes/__root.tsx
  src-app/styles/components/title-bar.css.ts
  src-app/styles/global.css.ts
  src-app/styles/layout.css.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

refactor: replace Vanilla Extract with Tailwind CSS
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src-app/components/button.tsx
  src-app/components/title-bar.tsx
  src-app/hooks/use-theme.ts
  src-app/main.tsx
  src-app/providers/settings-provider.tsx
  src-app/providers/theme-provider.tsx
  src-app/routes/(primary)/index.tsx
  src-app/routes/(primary)/route.tsx
  src-app/routes/(settings)/route.tsx
  src-app/routes/(settings)/settings.index.tsx
  src-app/routes/-errors.tsx
  src-app/routes/__root.tsx
  src-app/styles/common.css.ts
  src-app/styles/components/button.css.ts
  src-app/styles/components/title-bar.css.ts
  src-app/styles/global.css.ts
  src-app/styles/globals.css
  src-app/styles/layout.css.ts
  src-app/styles/screens/error.css.ts
  src-app/styles/screens/index.css.ts
  src-app/styles/screens/settings.css.ts
  src-app/styles/sprinkles.css.ts
  src-app/styles/theme.css.ts
  src-app/styles/utils.css.ts
  src-tauri/src/core/window.rs
  vite.config.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat: initialize app theme
  package.json
  pnpm-lock.yaml
  src-app/hooks/use-theme.ts
  src-app/hooks/use-title-bar.ts
  src-app/main.tsx
  src-app/providers/settings-provider.tsx
  src-app/providers/theme-provider.tsx
  src-app/routes/(primary)/index.tsx
  src-app/routes/(settings)/settings.index.tsx
  src-app/routes/__root.tsx
  src-app/stores/settings.ts
  src-app/styles/globals.css
  src-app/styles/theme.css
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add theme implementation
  package.json
  pnpm-lock.yaml
  src-app/components/button.tsx
  src-app/components/title-bar.tsx
  src-app/hooks/use-theme.ts
  src-app/providers/settings-provider.tsx
  src-app/routes/(primary)/index.tsx
  src-app/routes/(settings)/settings.index.tsx
  src-app/routes/-errors.tsx
  src-app/stores/settings.ts
  src-app/styles/globals.css
  src-app/styles/theme.css
  src-app/types/settings.ts
  src-tauri/src/commands/settings.rs
  src-tauri/src/core/settings/mod.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

refactor: overhaul settings window
  src-app/components/checkbox.tsx
  src-app/components/label.tsx
  src-app/components/select.tsx
  src-app/components/switch.tsx
  src-app/components/toast.tsx
  src-app/hooks/use-theme.ts
  src-app/providers/settings-provider.tsx
  src-app/routes/(settings)/settings.index.tsx
  src-app/routes/__root.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

refactor: overhaul app themes
  src-app/hooks/use-theme.ts
  src-app/hooks/use-title-bar.ts
  src-app/providers/settings-provider.tsx
  src-app/routes/(settings)/settings.index.tsx
  src-app/stores/settings.ts
  src-app/styles/theme.css
  src-tauri/src/database/kvstore/connection.rs
  src-tauri/src/hooks.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

refactor: use JSON file for settings
  README.md
  src-app/routes/(primary)/index.tsx
  src-app/routes/(settings)/settings.index.tsx
  src-app/services/demo.service.ts
  src-tauri/src/commands/demo.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/core/settings/manager.rs
  src-tauri/src/core/settings/mod.rs
  src-tauri/src/core/settings/store.rs
  src-tauri/src/database/kvstore/connection.rs
  src-tauri/src/database/kvstore/mod.rs
  src-tauri/src/database/kvstore/models.rs
  src-tauri/src/database/kvstore/operations.rs
  src-tauri/src/database/mod.rs
  src-tauri/src/hooks.rs
  src-tauri/src/lib.rs
  src-tauri/src/state.rs
  src-tauri/src/utils/mod.rs
  src-tauri/src/utils/time.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat: add encryption app settings
  src-app/components/label.tsx
  src-app/components/toast.tsx
  src-app/routes/(settings)/settings.index.tsx
  src-app/stores/settings.ts
  src-app/types/settings.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/settings.rs
  src-tauri/src/core/menu/handler/menu_app.rs
  src-tauri/src/core/settings/default.rs
  src-tauri/src/core/settings/manager.rs
  src-tauri/src/core/settings/mod.rs
  src-tauri/src/core/settings/store.rs
  src-tauri/src/core/settings/types.rs
  src-tauri/src/utils/crypto.rs
  src-tauri/src/utils/mod.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

refactor: separated setting pages
  src-app/components/button.tsx
  src-app/components/checkbox.tsx
  src-app/components/label.tsx
  src-app/components/select.tsx
  src-app/components/setting-row.tsx
  src-app/components/switch.tsx
  src-app/components/title-bar.tsx
  src-app/components/toast.tsx
  src-app/routes/(settings)/route.tsx
  src-app/routes/(settings)/settings.about.tsx
  src-app/routes/(settings)/settings.appearance.tsx
  src-app/routes/(settings)/settings.general.tsx
  src-app/routes/(settings)/settings.index.tsx
  src-tauri/src/core/window.rs
Due: check-backend, format-backend, test-backend

refactor: overhaul settings UI
  src-app/components/button.tsx
  src-app/components/checkbox.tsx
  src-app/components/label.tsx
  src-app/components/select.tsx
  src-app/components/switch.tsx
  src-app/components/toast.tsx
  src-app/routes/(primary)/-title-bar.tsx
  src-app/routes/(primary)/route.tsx
  src-app/routes/(settings)/-setting-row.tsx
  src-app/routes/(settings)/-title-bar.tsx
  src-app/routes/(settings)/route.tsx
  src-app/routes/(settings)/settings.about.tsx
  src-app/routes/(settings)/settings.appearance.tsx
  src-app/routes/(settings)/settings.general.tsx
  src-app/stores/settings.ts
  src-app/types/settings.ts
  src-tauri/src/core/menu/handler/menu_window.rs
  src-tauri/src/core/window.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat: add application updater
  .env.example
  .gitignore
  compose.yaml
  package.json
  scripts/build-dist.sh
  scripts/update.json.example
  src-app/routes/(settings)/route.tsx
  src-app/routes/(settings)/settings.general.tsx
  src-app/routes/(settings)/settings.updates.tsx
  src-app/services/updater.service.ts
  src-app/stores/settings.ts
  src-app/types/settings.ts
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/updater.rs
  src-tauri/src/core/settings/default.rs
  src-tauri/src/core/settings/types.rs
  src-tauri/src/core/updater/mod.rs
  src-tauri/src/core/updater/state.rs
  src-tauri/src/hooks.rs
  src-tauri/src/lib.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat: add build dist script
  .env.example
  compose.yaml
  scripts/build-dist.sh
  scripts/update.json.example
Due: none

fix: improved build-dist script
  scripts/build-dist.sh
Due: none

fix: improved app updater download status
  src-app/routes/(settings)/settings.updates.tsx
  src-app/services/updater.service.ts
  src-tauri/capabilities/default.json
  src-tauri/capabilities/desktop.json
  src-tauri/src/commands/updater.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

chore: set enable_spell_check true
  src-app/stores/settings.ts
  src-tauri/src/core/settings/default.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

fix: improved settings UI
  src-app/routes/(settings)/settings.appearance.tsx
Due: none

various fixes and improvement
  src-app/providers/settings-provider.tsx
  src-app/routes/(primary)/-title-bar.tsx
  src-app/routes/(primary)/route.tsx
  src-app/schemas/settings.schema.ts
  src-app/services/settings.service.ts
  src-app/stores/settings.ts
  src-app/styles/globals.css
  src-app/styles/theme.css
  src-app/styles/themes/default.css
  src-app/styles/themes/modern.css
  src-tauri/src/core/window.rs
  src-tauri/src/hooks.rs
  src-tauri/src/lib.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

various fixes and improvement
  src-app/routes/(settings)/settings.updates.tsx
  src-app/services/updater.service.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

various fixes and improvement
  README.md
  assets/images/screenshot-dark.jpeg
  assets/images/screenshot-light.jpeg
  src-app/routes/(primary)/index.tsx
  src-app/routes/-errors.tsx
Due: none

various fixes and improvement
  index.html
  package.json
  pnpm-lock.yaml
  src-app/hooks/use-app-info.ts
  src-app/hooks/use-theme.ts
  src-app/providers/settings-provider.tsx
  src-app/providers/theme-provider.tsx
  src-app/routes/(primary)/-title-bar.tsx
  src-app/routes/(primary)/index.tsx
  src-app/routes/(primary)/route.tsx
  src-app/routes/(settings)/-title-bar.tsx
  src-app/routes/(settings)/settings.about.tsx
  src-app/routes/(settings)/settings.appearance.tsx
  src-app/routes/(settings)/settings.general.tsx
  src-app/routes/(settings)/settings.updates.tsx
  src-app/routes/__root.tsx
  src-app/schemas/settings.schema.ts
  src-app/stores/settings.store.ts
  src-app/styles/globals.css
  src-app/styles/themes/default.css
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

various fixes and improvement
  src-app/components/boundaries.tsx
  src-app/routes/(settings)/-title-bar.tsx
  src-app/routes/(settings)/route.tsx
  src-app/routes/__root.tsx
  src-app/styles/themes/default.css
Due: format-frontend, check-frontend, lint-frontend, test-frontend

various fixes and improvement
  src-app/hooks/use-app-info.ts
  src-app/routes/(settings)/route.tsx
  src-app/routes/(settings)/settings.updates.tsx
  src-app/routes/__root.tsx
  src-app/stores/app-info.store.ts
  src-app/styles/themes/default.css
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add application tray menu
  README.md
  src-tauri/src/core/menu/handler/menu_tray.rs
  src-tauri/src/core/menu/handler/mod.rs
  src-tauri/src/core/menu/mod.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/core/tray.rs
  src-tauri/src/hooks.rs
  src-tauri/src/lib.rs
Due: check-backend, format-backend, test-backend

feat: add UI font settings
  README.md
  src-app/components/font-preview.tsx
  src-app/components/font-size-input.tsx
  src-app/routes/(settings)/route.tsx
  src-app/routes/(settings)/settings.appearance.tsx
  src-app/routes/(settings)/settings.general.tsx
  src-app/routes/__root.tsx
  src-app/schemas/settings.schema.ts
  src-app/services/fonts.service.ts
  src-app/stores/settings.store.ts
  src-tauri/src/commands/fonts.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/core/settings/default.rs
  src-tauri/src/core/settings/types.rs
  src-tauri/src/lib.rs
  src-tauri/src/utils/fonts.rs
  src-tauri/src/utils/mod.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

fix: font family not working on UI
  src-app/routes/__root.tsx
  src-app/styles/globals.css
Due: format-frontend, check-frontend, lint-frontend, test-frontend

fix: font family not working on UI
  src-app/routes/(settings)/-font-preview.tsx
  src-app/routes/(settings)/-font-size-input.tsx
  src-app/routes/(settings)/settings.appearance.tsx
Due: none

fix: improved font family filter non-latin
  README.md
  src-tauri/src/commands/fonts.rs
  src-tauri/src/hooks.rs
  src-tauri/src/utils/fonts.rs
Due: check-backend, format-backend, test-backend

fix: improved font family filter and size
  src-app/styles/globals.css
  src-tauri/src/utils/fonts.rs
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

chore: update screenshots
  assets/images/screenshot-dark.jpeg
  assets/images/screenshot-light.jpeg
Due: none
